@theme {
	--color-surface-dark: var(--bg-dark);
	--color-surface: var(--bg);
	--color-surface-light: var(--bg-light);
	--color-surface-info: var(--bg-info);
	--color-surface-success: var(--bg-success);
	--color-surface-warning: var(--bg-warning);
	--color-surface-error: var(--bg-error);

	--color-text: var(--text);
	--color-text-invert: var(--text-invert);
	--color-text-muted: var(--text-muted);
	--color-text-muted-invert: var(--text-muted-invert);

	--color-border: var(--border);

	--color-highlight: var(--highlight);

	--color-shadow: var(--shadow);

	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-secondary: var(--secondary);
	--color-secondary-hover: var(--secondary-hover);

	--color-inset: var(--inset-shadow);
}

:root {
	--bg-dark: hsl(145, 20%, 90%);
	--bg: hsl(145, 20%, 95%);
	--bg-light: hsl(145, 20%, 100%);
	--bg-info: hsl(199, 100%, 40%);
	--bg-success: hsl(99, 100%, 40%);
	--bg-warning: hsl(54, 100%, 40%);
	--bg-error: hsl(12, 100%, 40%);

	--text: hsl(0, 0%, 5%);
	--text-invert: hsl(0, 0%, 95%);
	--text-muted: hsl(0, 0%, 30%);
	--text-muted-invert: hsl(0, 0%, 70%);

	--border: hsl(145, 12%, 84%);

	--highlight: hsl(0, 0%, 100%);

	--shadow: hsla(0, 0%, 0%, 0.2);

	--primary: hsl(145, 100%, 59%);
	--primary-hover: hsl(145, 100%, 49%);
	--secondary: hsl(145, 13%, 91%);
	--secondary-hover: hsl(145, 13%, 81%);

	--inset-shadow: hsl(218, 12%, 64%);
}

.dark {
	--bg-dark: hsl(90, 5%, 11%);
	--bg: hsl(90, 5%, 16%);
	--bg-light: hsl(90, 5%, 21%);
	--bg-info: hsl(199, 100%, 65%);
	--bg-success: hsl(99, 100%, 65%);
	--bg-warning: hsl(54, 100%, 65%);
	--bg-error: hsl(12, 100%, 65%);

	--text: hsl(0, 0%, 95%);
	--text-invert: hsl(0, 0%, 5%);
	--text-muted: hsl(0, 0%, 70%);
	--text-muted-invert: hsl(0, 0%, 30%);

	--border: hsl(0, 0%, 25%);

	--highlight: hsla(0, 0%, 80%, 0.1);

	--primary: hsl(145, 100%, 39%);
	--primary-hover: hsl(145, 100%, 29%);
	--secondary: hsl(145, 13%, 15%);
	--secondary-hover: hsl(145, 13%, 5%);

	--inset-shadow: hsl(0, 0%, 0%);
}
